

  
  @media only screen and (max-width:800px){
      .container-fluid{
          padding: 10px !important;
      }
      
      .card{
          padding: 20px !important;
          box-shadow: none !important;
          border: none !important;
          backdrop-filter: blur(5px ) !important; 
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important
          ; 
      }
      .cd{
        border: 1px solid grey !important;
        box-shadow: none !important;
      }
  }  
body{
    background-color: rgb(9, 10, 49);
}
.showall{
   background-color: rgb(241, 241, 241);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.card{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* navbar */

.navbar{
    background-color:  #1A2B48;
    margin-bottom: 50px;
    }
 
    .navbar-brand{
      color:black;
      font-weight: bold;
      font-size: 30px;
    }
    .navbar-toggler{
     width:  auto !important;
 
    }
    .navbar-toggler:focus{
     border:  none !important;
     box-shadow: none !important;
    }
    
    .navbar-collapse .nav-item .navl{
      color: rgb(255, 255, 255) ;
    }
    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
      color:lightblue;
      font-weight: bold;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
      color:lightblue;
      font-weight: bold;
    }

                          /* page 2 */



                       .loader {
                            text-align: center;
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            max-width: 35rem;
                            height: 30rem;
                            margin: 0 auto;
                          }
                          
                          .wait {
                            margin: 5rem 0;
                          }
                          .iata_code {
                              font-size: 6rem;
                              opacity:0.3;
                            top: 52%;
                            position: absolute;
                            color: #0099cc;
                            }
                          .departure_city {
                            left: 0;
                          }
                          
                          .arrival_city {
                            right: 1.5rem;
                          }
                          
                          .plane {
                            position: absolute;
                            margin: 0 auto;
                            width: 100%;
                          }
                          
                          .plane-img {
                            -webkit-animation: spin 2.5s linear infinite;
                            -moz-animation: spin 2.5s linear infinite;
                            animation: spin 2.5s linear infinite;
                          }
                          
                          @-moz-keyframes spin {
                            100% {
                              -moz-transform: rotate(360deg);
                            }
                          }
                          
                          @-webkit-keyframes spin {
                            100% {
                              -webkit-transform: rotate(360deg);
                            }
                          }
                          
                          @keyframes spin {
                            100% {
                              -webkit-transform: rotate(360deg);
                              transform: rotate(360deg);
                            }
                          }
                          
                          
                          .earth-wrapper {
                            position: absolute;
                            margin: 0 auto;
                            width: 100%;
                            padding-top: 2.7rem;
                          }
                          .showall{
                            display: none;
                          }
                          
                          .earth {
                            width: 160px;
                            height: 160px;
                            background: url("https://zupimages.net/up/19/34/6vlb.gif");
                            border-radius: 100%;
                            background-size: 340px;
                            animation: earthAnim 12s infinite linear;
                            margin: 0 auto;
                            border: 2px solid #CDD1D3;
                          }
                          
                          @keyframes earthAnim {
                            0% {background-position-x: 0;}
                            100% {background-position-x: -340px;}
                          }
                          
                          @media screen and (max-width: 420px) {
                            .departure_city {
                              left: 0;
                              right: 0;
                              top: 30%;
                              position: absolute;
                              margin: 0 auto;
                            }
                            
                            .arrival_city {
                              left: 0;
                              right: 0;
                              top: 93%;
                              position: absolute;
                              margin: 0 auto;
                            }
                            
                            
                          }
                          
                          .departbtn{
                            width: 100%;
                            height: 40px;
                            border: none;
                            font-weight: bold;
                            font-size: 12px;
                            background-color: rgb(228, 228, 228);
                            border-radius: 5px;
                          }
                          .departbtn:focus{
                            background-color: rgb(153, 4, 4);
                            color: white;
                            
                          }
                          
                          
                          /* range  */
                          
                          /* *,
                          *:before,
                          *:after {
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            font-family: "Poppins", sans-serif;
                          } */
                          /* body {
                            height: 100vh;
                            display: -ms-grid;
                            display: grid;
                            background-color: #3264fe;
                            place-items: center;
                          } */
                          .wrapper {
                            position: relative;
                            width: 100%;
                            /* background-color: #ffffff; */
                            padding: 10px ;
                            border-radius: 10px;
                          }
                          .cont1 {
                            position: relative;
                            width: 100%;
                            height: 45px;
                            /* margin-top: 30px; */
                          }
                          input[type="range"] {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            width: 100%;
                            outline: none;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            background-color: transparent;
                            pointer-events: none;
                          }
                          .slider-track {
                            width: 100%;
                            height: 5px;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            border-radius: 5px;
                          }
                          input[type="range"]::-webkit-slider-runnable-track {
                            -webkit-appearance: none;
                            height: 5px;
                          }
                          input[type="range"]::-moz-range-track {
                            -moz-appearance: none;
                            height: 5px;
                          }
                          input[type="range"]::-ms-track {
                            appearance: none;
                            height: 5px;
                          }
                          input[type="range"]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            height: 1.7em;
                            width: 1.7em;
                            background-color: #3264fe;
                            cursor: pointer;
                            margin-top: -9px;
                            pointer-events: auto;
                            border-radius: 50%;
                          }
                          input[type="range"]::-moz-range-thumb {
                            -webkit-appearance: none;
                            height: 1.7em;
                            width: 1.7em;
                            cursor: pointer;
                            border-radius: 50%;
                            background-color: #3264fe;
                            pointer-events: auto;
                            border: none;
                          }
                          input[type="range"]::-ms-thumb {
                            appearance: none;
                            height: 1.7em;
                            width: 1.7em;
                            cursor: pointer;
                            border-radius: 50%;
                            background-color: #3264fe;
                            pointer-events: auto;
                          }
                          input[type="range"]:active::-webkit-slider-thumb {
                            background-color: #ffffff;
                            border: 1px solid #3264fe;
                          }
                          .values {
                            background-color: #3264fe;
                            width: 30%;
                            position: relative;
                            margin: auto;
                            padding: 4px 0;
                            border-radius: 5px;
                            text-align: center;
                            font-weight: 500;
                            font-size: 14px;
                            color: #ffffff;
                          }
                          .values:before {
                            content: "";
                            position: absolute;
                            height: 0;
                            width: 0;
                            border-top: 15px solid #3264fe;
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            margin: auto;
                            bottom: -14px;
                            left: 0;
                            right: 0;
                          }
                          
                          
                          .labb label{
                            font-size: 15px;
                            margin: 0px;
                            accent-color: black;
                          }
                          .check input[type="checkbox"]{
                            width: 18px;
                            height: 18px;
                          
                          }
                          .lavv input[type="checkbox"]{
                            width: 18px;
                            height: 18px;
                          
                          }
                          .check img{
                            width: 25px;
                            margin-top: -5px;
                          }
                          .check .indigo{
                            width: 20px;
                          }
                          .switchon{
                           border: 2px solid black;
                            border-radius: 5px;
                            color: black;
                          }
                          .switchon label{
                            font-size: 16px;
                            color: black;
                            font-weight: bold;
                          }
                          .tabon{
                            background-color: rgb(0, 0, 0);
                            /* padding: 8px 10px; */
                            padding: 4px;
                            border-radius: 5px;
                          }
                          .tabon button{
                            background-color:transparent;
                            color: rgb(255, 255, 255);
                            /* height: 25px; */
                            padding: 5px;
                            font-size: 14px;
                            border-radius: 0px;
                            border: none;
                          }
                          .tabon button:focus{
                            background-color: rgb(255, 255, 255);
                            color: rgb(0, 0, 0);
                            border-radius: 4px;
                          }
                         
                          .departure{
                            background-color: rgb(238, 164, 164);
                            color: rgb(255, 0, 0);
                            height: 30px;
                            border-radius: 3px;
                          
                            font-size: 14px;
                            border: none;
                          }
                          .return{
                            background-color: rgb(201, 255, 202);
                            color: rgb(14, 114, 59);
                            height: 30px;
                            border-radius: 3px;
                          padding: 0px 10px;
                            font-size: 14px;
                            border: none;
                          }
                          #searchon{
                          background-color: transparent;
                          border: none;
                          }
                          .fa_plane{
                          position: absolute;
                          top: 0%;
                          left: 47%;
                          }
                          .fas_plane{
                            position: relative;
                          }
                          .bord{
                           border-right: 2px dotted grey;
                          }
                          .faso{
                            transform: rotate(539deg);
                          } 

/* switch */
.switchon{
    height: 40px;
}
.switchon label{
    padding: 8px 10px;
}
input.switch {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 20px !important;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #000000;
    transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
    transition-delay: 0.1s, 0s;
  }
  .switch1 label{
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  .switch{
    margin-top: 5px;
  }
  input.switch:focus {
    border: 0;
    outline: 0;
  }
  input.switch:checked {
    transition-delay: 0s, 0s;
    box-shadow: inset 0 0 0 2.62857em #00c169 !important;
    padding-left: 10px;
  }
  input.switch:before {
    display: inline-block;
    height: 6px;
    width: 6px;
    margin:2px;
    background-color: #ffffff;
    border-radius: 2.1em;
    transition: all 0.1s ease 0.1s;
  }
  input.switch:before, input.switch:after {
    content: "";
    display: block;
  }
  input.switch:active::before {
    transition: all 0.1s ease 0.05s;
  }
  
  .ico{
    font-size: 13px;
    border:1px solid grey;
    padding: 3px;
    margin: 2px;
  }
  .btn-one{
     border: none;
     background-color: red;
     color: white;
     padding: 8px;
     border-radius: 5px;
  }
  .city{
    margin: 0px;
    font-size: 16px;
  }
  .city-air{
    font-size: 12px;
  }
  p{
    margin: 0px;
  }
  .date{
   font-size: 16px;
  }
  .time{
    font-size: 20px;
    color: grey;
  }
  .line{
    border-bottom: 1.4px solid grey;
    font-size: 15px;
  }
  .modify{
    background-color: orange;
    border: none;
    padding: 15px 45px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.6s ease;
  }
  .modify:hover{
    background-color: orangered;
    color: white;
  }
  .crd{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 10px;
  }
  .raw{
    border: 2px ridge rgb(219, 219, 219);
    border-radius: 8px;
    padding: 20px;
  }
  .cd{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
 